@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav span{
    color: #FF5400;

}
nav h3{
    color: #131318;
font-size:  2.25rem;
font-weight: 800;
display: flex;
align-items: center;
}
nav img {
    margin-right: 15px;
}
ul > li{
    list-style: none;
    margin-inline: 10px;
}
.dropdown{
    display: none;
}

li a{
    text-decoration: none;
    margin-inline: 5px;
    color: #424247;
font-size: 18px;
font-weight: 400;

}
#home{
 color: #FF5400;   
}

header{
    padding: 25px 100px;
}

.header-container{
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0) 90%), url(img/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    border-radius: 16px;
    text-align: center;
    background-size: cover;
    padding:100px;
    box-sizing: border-box;

}
.header-container h3{
    color: white;
font-size: 3.75rem;
font-weight: 800;
margin-bottom: 15px;
}
.p-style{
color: rgba(255, 255, 255, 0.857);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.input-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 8px;
    align-items: center;
    background-color: #ffffff40;
    padding: 15px;
    border-radius: 8px;
    margin: 20px;
    
}
.input-box select , .flex-btn ,input{
    padding: 16px;
    border-radius: 8px;
    border: none;
    width: 100%;

    

}
.input-box input{
    box-sizing: border-box;
   
}
.btn-primary{
    background-color: #FF5400;
    color: white;
font-size: 16px;
transition: all 1s;
font-weight: 700;
}
.btn-primary-btn{
    padding: 10px 30px;
    background-color: #FF5400;
    color: white;
font-size: 16px;
border: none;
margin: 10px 0;
transition: all 1s;
border-radius: 8px;
font-weight: 700;
}
main{
    padding: 50px 100px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
}
.container div{
    width: calc( 50% - 10px);
}
.title-img img{
    width: 100%;
    margin-left: 5px;
}
.h3-style{
    color: #131318;
font-size: 40px;
font-weight: 800;
margin: 10px 0;
}
.title-p-style{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;

}
ol{
    list-style-position: inside;


}
ol li{
    margin-bottom: 4px;
    list-style-type: circle;
}
.mt-10{
    margin-top:50px ;
}
.text-center{
    text-align: center;
}
.grid-box{
    margin: 20px 0;
    display: grid;
    grid-template-rows: 300px;
    box-sizing: border-box;
    
}
.item-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.item-2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}
.item-3{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.grid-box div{
    width: 100%;
}
.grid-box img{
    width: 100%;
    /* margin: 10px 0; */
}

.flex-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card3{
    padding: 10px 50px;
    margin: 8px 0;
    margin-inline: 5px;
    width: 400px;
    border-radius: 16px;
    background-color: #E9444433;
}
.flex .card1{
    background-color: #29CEF633
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex div{
    background-color: #FBB56333;
    width: 50%;
    margin-top: 20px;
    padding: 10px 50px;
    width: 400px;
    margin-inline: 5px;
    border-radius: 16px;
}
.flex img , .flex-1 img{
 margin: 8px 0;
}


.img-box1{
    background:url(img/Rectangle\ 12.png);
}
.img-box2{
    background:url(img/Rectangle\ 12\ \(1\).png);
}
.img-box3{
    background:url(img/Rectangle\ 12\ \(2\).png);
}
.img-box1 , .img-box2 , .img-box3{
    display: flex;
    justify-content: end;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    margin-top: 20px;
    border-radius: 16px;
    text-align: center;
    background-size: cover;
    padding: 100px 70px;
    box-sizing: border-box;
}
.img-item i{
color: #FF5400;
   
}
.img-item{
    background-color: #ffffffbb;
    width: 400px;
    border-radius: 16px;
    padding: 30px 50px;
    display: block;
    font-size: 12px;
    
}
.comon-h4{
 
color: #131318;
 font-size: 24px;
text-align: left;
margin: 9px 0;
 font-weight: 800;

}
.price{
    color: #FF5400;
    color: #FF5400;
font-size: 20px;
text-align: left;
margin: 9px 0;
font-weight: 800;
}
.text-left{
    text-align: left;
}

.form{
    height: 98%;
    margin-right: 5px;
    border: 2px solid #FF5400;
    border-radius: 16px;
    padding: 9px;
    margin-bottom: 10px;
}
form > input{
    background-color: #1313180D;
    width: 94%;
    margin-bottom: 8px;
}
.form-btn{
    border-radius: 8px;
    padding: 18px 100px;
    border: none;
    display: block;
    width: 100%;
}
.flex-container{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.flex-container img{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 10px;
    
}
.later-box{
    width: 200px;
    position: absolute;
    background: #FF5400;
    bottom: 50px;
    right: 0;
    width: 200px !important;
    color: white;
    border-radius: 16px;
    transform: rotate(-22deg);
    padding: 8px 12px;
    box-sizing: border-box;
}
.pos{
    position: relative;
}
footer{
    background-color: #1313180D;
    padding: 100px ;
}
.footer-container{
    text-align: center;

}
.div{
    margin: 20px 0;
    
}
.div i{
    margin-inline: 10px;
}
.flex-container div {
    width: 50%;
}

.last-cont-img{
    background:linear-gradient(#13131814, #13131800) ,url(img/Group\ 40089.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    margin-top: 20px;
    border-radius: 16px;
    text-align: center;
    background-size: cover;
    padding:100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}
.grid-boxes{
    display: grid;
    grid-gap: 10px;
}
.grid-box-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.grid-box-2{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}
.grid-box-3{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}
.grid-item-1{
    background:url(img/Rectangle\ 5.png);
}
.grid-item-2{
    background:url(img/Rectangle\ 8.png);
}
.grid-item-3{
    background:url(img/Rectangle\ 6.png);
}
.grid-item-4{
    background:url(img/Rectangle\ 7.png);
}
.grid-item-5{
    background:url(img/Rectangle\ 9.png);
}
.grid-item-6{
    background:url(img/Rectangle\ 11.png);
}
.grid-item-7{
    background:url(img/Rectangle\ 10.png);
}
.grides{
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    height: 300px;
    background-size: cover;
    padding:100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}
.grid-head{
    color: white;
    font-weight: 800;
    font-size: 24px;
    transition: all 1s ;
}
.grides:hover .grid-head{
    transform: scale(1.8);
}
.btn-primary:hover{
    background-color: #fff;
    color: #FF5400;
}
.btn-primary-btn:hover{
    background-color: #fff;
    color: #FF5400;
}

@media all and (max-width:767px){
    nav ul {
    display: none;
    }
    header{
        padding: 10px 20px;
    }
    .header-container{
        padding: 40px;
        height: 100%;
    }
    nav h3{
       font-size: 28px;
    }
    nav img{
        width: 40px;
    }
    .header-container h3{
        font-size: 22px;
    }
    .input-container{
        display: block;
        margin-top: 10px;
    }
    .input-box{
        margin-bottom: 10px;
    }
    .p-style{
        font-size: 14px;
    }
    .dropdown{
        display: inline;
    }
    .container{
        display: block;
    }
    main{
        padding: 10px 20px
    }
    .container div{
        width: 100%;
        margin-bottom: 20px;
    }
    .h3-style{
        color: #131318;
font-size: 20px;
font-weight: 800;
    }
    .flex , .flex-1{
        display: block;
    }
   .card3 {
        width: 80%;
        padding: 30px;
        margin-bottom: 8px;
    }
 
    .flex div{
        width: 80%;
        padding: 30px;
       
    }
    .img-item{
        padding: 20px 20px;
    }
    .comon-h4{
        font-size: 20px;
    }
    .img-item p{
        color: #5A5A5D;
        font-size: 14px;
        
    }
    .img-item i{
        font-size: 16px;
    }
    .price{
font-size: 16px;
font-weight: 800 !important;
color: #FF5400 !important;
    }
    .img-box1 , .img-box2 , .img-box3{
       padding: 70px;
      
    }
    .flex-container{
        display: block;
    }
    .flex-container div {
        width: 98%;
    }
    .grid-boxes{
        display: block;
    }
  .grid-box-1 , .grid-box-2 , .grid-box-3{
    display: block;
  }
  .grides{
    margin-top: 10px;
  }
}